.modal-login {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edf0f4;
    color: #666;
    display: none
}

.account-form {
    overflow: hidden
}

.account-form a {
    color: #07d
}

.account-form a:hover {
    color: #07d
}

.account-form a.new-window {
    color: #00f
}

.account-form a.new-window:hover {
    color: #00f
}

.account-form input,
.account-form textarea,
.account-form select,
.account-form button,
.account-form label {
    display: inline-block;
    vertical-align: top;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.account-form input,
.account-form textarea,
.account-form select {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    background: white;
    border: 0
}

.account-form .btn-auth-code {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    background: white
}

.account-form input:focus,
.account-form textarea:focus,
.account-form select:focus,
.account-form button:focus {
    outline: 0
}

.account-form textarea {
    resize: none
}

.account-form input[type="search"],
.account-form input[type="search"]::-webkit-search-cancel-button,
.account-form input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    -moz-appearance: none
}

.account-form::-ms-clear {
    display: none
}

.account-form::-webkit-input-placeholder {
    color: #a8a8af
}

.account-form:-ms-input-placeholder {
    color: #a8a8af
}

.account-form::-moz-placeholder {
    color: #a8a8af;
    opacity: 1
}

.account-form::-moz-focus-inner {
    padding: 0 !important;
    border: 0 !important
}

.account-form button {
    border: 1px solid #e5e5e5
}

.account-form .form-title {
    margin: 25px 0 10px;
    padding: 0 12px;
    line-height: 24px;
    font-size: 14px;
    color: #7c7b83;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2)
}

.account-form .big {
    font-size: 20px;
    text-align: center;
    font-weight: normal
}

.account-form .action-links {
    text-align: right;
    padding: 6px 12px;
    margin-top: 20px;
    font-size: 14px;
    zoom: 1
}

.account-form .action-links:after {
    content: '';
    display: table;
    clear: both
}

.account-form .action-links>a,
.account-form .action-links>span {
    padding: 6px 0;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle
}

.account-form .action-links .division-span {
    border-left: 1px solid #999;
    margin: 0 5px 0 3px
}

.account-form .btn-send-auth {
    width: 25%;
    height: 30px;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 6px;
    right: 10px
}

.bind-taobao .btn-send-auth {
    padding-left: 7px;
    padding-right: 7px;
    width: auto;
    font-weight: bold
}

.bind-taobao .action-container .btn.btn-white {
    border: 1px solid #e5e5e5;
    color: #333
}

.taobao-result {
    border-bottom: 1px solid #e5e5e5
}

.quantity {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    position: relative
}

.quantity input[type=number]::-webkit-outer-spin-button {
    margin: 0
}

.quantity button {
    border: 2px solid #eee;
    font-size: 16px;
    line-height: 10px;
    font-weight: bold;
    color: #666;
    margin: 0;
    padding: 5px;
    outline: none !important;
    text-align: center;
    width: 26px;
    height: 30px;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden
}

.quantity .txt {
    margin: 0;
    font-size: 14px;
    width: 24px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0
}

.quantity .txt:focus {
    border-color: #eee
}

.quantity .minus {
    position: relative;
    border-radius: 4px 0 0 4px;
    border-right: 0px none
}

.quantity .minus::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 8px;
    height: 2px;
    background-color: #6c6c6c
}

.quantity .plus {
    position: relative;
    border-left: 0px none;
    border-radius: 0 4px 4px 0
}

.quantity .plus::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 8px;
    height: 2px;
    background-color: #6c6c6c
}

.quantity .plus::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 2px;
    height: 8px;
    background-color: #6c6c6c
}

.quantity .minus.disabled::before {
    background-color: #dddddd
}

.quantity .plus.disabled::before {
    background-color: #dddddd
}

.quantity .plus.disabled::after {
    background-color: #dddddd
}

.quantity .response-area {
    width: 42px;
    height: 42px;
    top: -7px;
    position: absolute
}

.quantity .response-area-plus {
    right: -5px
}

.quantity .response-area-minus {
    left: -5px
}

.btn-1-1,
.btn-2-1,
.btn-3-1 {
    display: inline-block;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.btn-1-1 .tag,
.btn-1-1 .btn,
.btn-2-1 .tag,
.btn-2-1 .btn,
.btn-3-1 .tag,
.btn-3-1 .btn {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.btn-1-1 {
    width: 100%;
    padding-left: 0
}

.btn-1-1 .tag,
.btn-1-1 .btn {
    width: 50% !important
}

.btn-2-1 {
    width: 49.5%
}

.btn-3-1 {
    width: 33.3%
}

.action-container {
    padding: 0 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0
}

.action-container>div {
    margin-bottom: 0
}

.action-container>div:last-child {
    margin-bottom: 0
}

.action-container>button,
.action-container>.btn {
    margin-bottom: 10px
}

.action-container>button:last-child,
.action-container>.btn:last-child {
    margin-bottom: 0
}

.action-tip {
    font-size: 12px;
    line-height: 16px;
    padding: 0 15px;
    margin: 10px 0;
    color: #999
}

.form {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.form.mg-top-20 {
    margin-top: 20px
}

.form.mg-bottom-20 {
    margin-bottom: 20px
}

.form .block-item.no-top-border {
    border-top-width: 0px
}

.form>.block-item:first-child {
    border-top: 0px none
}

.form .block-item {
    display: table;
    width: 100%;
    padding: 0
}

.form .block-item label {
    display: table-cell;
    width: 90px;
    line-height: 28px;
    padding: 10px 0
}

.form .block-item textarea,
.form .block-item input,
.form .block-item select,
.form .block-item a,
.form .block-item span {
    display: table-cell;
    overflow: hidden;
    padding: 10px 0;
    min-height: 28px;
    line-height: 28px;
    font-size: 14px
}

.form .block-item textarea,
.form .block-item input,
.form .block-item select {
    width: 99%;
    background-color: #fff;
    border: 0px none;
    outline: none
}

.form .block-item textarea {
    height: 50px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    resize: none
}

.form .block-item:last-child {
    border-bottom: 0px none
}

.tabber {
    width: 100%;
    color: #333;
    font-size: 14px;
    background-color: #fff;
    overflow: visible;
    -webkit-border-image: url("../img/border-line-2.png") 2 stretch;
    -moz-border-image: url("../img/border-line-2.png") 2 stretch;
    border-image: url("../img/border-line-2.png") 2 stretch;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .tabber {
        border-top-width: 1px;
        border-bottom-width: 1px
    }
}

.tabber button,
.tabber a {
    float: left;
    width: 50%;
    line-height: 40px;
    border: 0px none;
    outline: 0px none;
    background-color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.tabber button:hover,
.tabber a:hover {
    text-decoration: none
}

.tabber button.active,
.tabber a.active {
    position: relative;
    top: 1px;
    line-height: 39px;
    color: #22C415;
    border-bottom: 1px solid #22C415
}

.tabber.tabber-n4 button,
.tabber.tabber-n4 a {
    width: 25%
}

.block.block-order.block-cart .header {
    overflow: hidden;
    line-height: 53px;
    height: 53px
}

.block.block-order.block-cart .header .shop-title {
    font-size: 14px;
    position: relative;
    padding-left: 24px
}

.block.block-order.block-cart .header .custom-store-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: url("../img/block-cart.png") no-repeat;
    background-size: 18px 18px;
    text-indent: -999em
}

.block.block-order.block-cart .header .select-group {
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 12px 10px 5px 0
}

.block.block-order.block-cart .header .select-group .check {
    margin-top: 0
}

.block-list-cart {
    background-color: #fff
}

.block-list-cart.block {
    padding-left: 0
}

.block-list-cart .clear-block {
    padding-bottom: 10px;
    background-color: #fff
}

.block-list-cart .clear-btn {
    border-color: #f60;
    color: #f60;
    font-size: 14px;
    padding: 6px 44px
}

.block-list-cart .block-item-cart {
    background-color: #fafafa;
    border: 0;
    overflow: visible;
    padding: 0 0 0 10px;
    margin-bottom: 10px
}

.block-list-cart .block-item-cart.ajust {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.block-list-cart .block-item-cart .ajust {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.block-list-cart .block-item-cart.error .error-box {
    display: block
}

.block-list-cart .block-item-cart.disable div.error-box {
    color: #999
}

.block-list-cart .block-item-cart.bale-cart {
    background: #fff8f2
}

.block-list-cart .block-item-cart .title {
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    line-height: 20px
}

.block-list-cart .block-item-cart .check-container {
    float: left;
    height: 60px;
    margin-left: -10px;
    padding: 20px 10px;
    width: 20px
}

.block-list-cart .block-item-cart .name-card {
    padding-right: 10px
}

.block-list-cart .block-item-cart .name-card .thumb {
    width: 90px;
    height: 90px
}

.block-list-cart .block-item-cart .name-card .thumb .bale-tag {
    height: 14px;
    line-height: 14px;
    padding: 0 6px 0 3px;
    font-size: 8px;
    color: #fff;
    background: #f44;
    position: absolute;
    left: 0;
    bottom: 4px;
    border-radius: 0 7px 7px 0
}

.block-list-cart .block-item-cart .name-card .detail {
    margin-left: 98px
}

.block-list-cart .block-item-cart .name-card .detail .sku {
    height: 20px;
    padding-right: 20px;
    color: #666;
    position: relative
}

.block-list-cart .block-item-cart .name-card.name-card-order .thumb {
    width: 66px;
    height: 66px
}

.block-list-cart .block-item-cart .name-card.name-card-order .detail {
    margin-left: 73px
}

.block-list-cart .block-item-cart .name-card .num {
    color: #666;
    font-weight: 100;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0
}

.block-list-cart .block-item-cart .name-card .num .quantity .response-area {
    width: 32px;
    height: 60px;
    top: -20px
}

.block-list-cart .block-item-cart .name-card .num .quantity .response-area-minus {
    left: 0
}

.block-list-cart .block-item-cart .name-card .num button {
    margin: 0;
    width: 40px;
    height: 30px;
    border: 1px solid #999;
    background-color: #f2f2f2;
    border-radius: 1px
}

.block-list-cart .block-item-cart .name-card .num button.disabled {
    border-color: #e8e8e8
}

.block-list-cart .block-item-cart .name-card .num .txt {
    border: 1px solid #999;
    color: #666;
    height: 28px;
    width: 38px;
    line-height: 20px;
    padding: 0;
    z-index: 1;
    position: relative;
    margin: 0 -1px
}

.block-list-cart .block-item-cart .error-box {
    display: none;
    color: #f60;
    font-size: 12px;
    margin-top: 3px;
    margin-left: 98px
}

.block-list-cart .block-item-cart .delete-btn {
    width: 640px;
    height: 100%;
    position: absolute;
    right: -640px;
    top: -1px;
    background-color: #ff4343;
    color: #fff;
    font-size: 12px
}

.block-list-cart .block-item-cart .delete-btn span {
    left: 20px;
    position: absolute;
    top: 50%;
    margin-top: -6px
}

.check {
    border-radius: 100%;
    display: inline-block;
    margin: 17px 0 0;
    vertical-align: middle;
    line-height: 60px;
    width: 18px;
    height: 18px;
    background-image: url('../img/check_o.png');
    background-repeat: no-repeat;
    background-size: 18px
}

.check.info {
    background-position: 0 0
}

.check.checked,
.check.delete {
    background-image: url('../img/check_i.png')
}

.bottom-fix .bottom-cart {
    padding: 0 10px;
    height: 49px;
    background-color: #fff;
    font-weight: 500;
    color: #f60;
    position: relative
}

.bottom-fix .bottom-cart .select-all {
    font-weight: 100;
    float: left;
    width: 55px;
    height: 40px;
    color: #333
}

.bottom-fix .bottom-cart>div {
    height: 50px;
    line-height: 50px;
    font-size: 14px
}

.bottom-fix .bottom-cart .total-price {
    padding-right: 80px;
    text-align: right;
    font-weight: 100;
    width: auto;
    margin-left: 55px;
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    margin-right: 9px
}

.bottom-fix .bottom-cart button {
    position: absolute;
    right: 0px;
    padding: 4px 10px;
    top: -1px;
    width: 90px;
    height: 50px;
    margin-top: 0;
    min-width: 75px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px
}

.bottom-fix .bottom-cart button[disabled] {
    color: #999 !important;
    -webkit-border-image: url("../img/border-line-bbb.png") 2 stretch !important;
    -moz-border-image: url("../img/border-line-bbb.png") 2 stretch !important;
    border-image: url("../img/border-line-bbb.png") 2 stretch !important;
    background-color: #f1f1f1 !important
}

.bottom-fix .bottom-cart button.hide {
    display: none
}

.bottom-fix .bottom-cart button.btn-red {
    background-color: #ff4343
}

.bottom-fix .bottom-cart .check {
    margin: -5px 5px 0 0
}

.bottom-fix .bottom-cart.editing {
    color: #f24d4d
}

.bottom-fix .bottom-cart.disable {
    color: #ccc
}

.bottom-fix .bottom-cart .cancel-delete {
    top: 5px;
    position: absolute;
    width: 45px;
    right: 90px
}

.block-item-cart.editing .name-card .title {
    visibility: hidden
}

.block-item-cart.editing .name-card .num {
    left: 0;
    top: 0
}

.block-item-cart.editing .name-card .detail .sku {
    padding-right: 60px
}

.block-item-cart.editing .delete-btn {
    -webkit-transform: translate3d(-60px, 0, 0);
    -moz-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0)
}

.invalid-list-title {
    font-size: 12px;
    color: #999;
    margin: 10px 0;
    text-align: center;
    line-height: 40px;
    padding-top: 0;
    background: #fafafa
}

.invalid-list {
    margin-bottom: 0
}

.tabber.tabber-double-11 {
    border: 0px none;
    overflow: hidden;
    margin-bottom: 1px
}

.tabber.tabber-double-11 a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px none;
    color: #999;
    display: block;
    -webkit-border-image: url("../img/border-line-2.png") 2 stretch;
    -moz-border-image: url("../img/border-line-2.png") 2 stretch;
    border-image: url("../img/border-line-2.png") 2 stretch;
    border-bottom: 2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .tabber.tabber-double-11 a {
        border-bottom-width: 1px
    }
}

.tabber.tabber-double-11 a.active {
    color: #F15A0C;
    border-top: 0px none;
    border-bottom: 2px solid #F15A0C;
    -webkit-border-image: initial;
    -moz-border-image: initial;
    border-image: initial
}

.tabber.tabber-double-11.tabber-fixed {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.tabber.tabber-double-11.tabber-fixed a {
    background-color: #fff
}

.tabber.tabber-double-11.tabber-one-line {
    height: 40px
}

.tabber.tabber-double-11.tabber-two-line {
    height: 80px
}

.more-discount {
    position: fixed;
    bottom: 101px;
    right: 8px;
    display: block;
    z-index: 11;
    height: 38px;
    width: 45px;
    text-align: center;
    line-height: 14px;
    padding-top: 9px;
    border-radius: 50%;
    opacity: 0.9;
    background: #f66
}

.tag {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
    margin: 0;
    color: #999;
    font-size: 12px;
    line-height: 12px;
    padding: 4px
}

.tag-big {
    font-size: 14px;
    line-height: 18px
}

.tag.tag-green {
    color: #06bf04;
    border-color: #0c3
}

.tag.tag-orange {
    color: #f60;
    border-color: #f60
}

.tag.tag-orangef60 {
    color: #f60;
    border-color: #f60
}

.tag.tag-white {
    color: #333;
    border-color: #bbb
}

.tag.tag-blue {
    color: #38f;
    border-color: #38f
}

.tag.tag-red {
    color: #ed5050;
    border-color: #ed5050
}

.tag.tag-pink {
    color: #ee614b;
    border-color: #ee614b
}

.tag.disabled {
    background-color: #ddd !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    color: #fff !important
}

.btn-1-1,
.btn-2-1,
.btn-3-1 {
    display: inline-block;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.btn-1-1 .tag,
.btn-1-1 .btn,
.btn-2-1 .tag,
.btn-2-1 .btn,
.btn-3-1 .tag,
.btn-3-1 .btn {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.btn-1-1 {
    width: 100%;
    padding-left: 0
}

.btn-1-1 .tag,
.btn-1-1 .btn {
    width: 50% !important
}

.btn-2-1 {
    width: 49.5%
}

.btn-3-1 {
    width: 33.3%
}

.action-container {
    padding: 0 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0
}

.action-container>div {
    margin-bottom: 0
}

.action-container>div:last-child {
    margin-bottom: 0
}

.action-container>button,
.action-container>.btn {
    margin-bottom: 10px
}

.action-container>button:last-child,
.action-container>.btn:last-child {
    margin-bottom: 0
}

.wrapper-form .form-item {
    position: relative;
    margin-top: 10px
}

.wrapper-form .form-item label {
    position: absolute;
    top: 1px;
    left: 10px;
    line-height: 45px;
    z-index: 1;
    color: #666
}

.wrapper-form .form-item textarea,
.wrapper-form .form-item input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    line-height: 18px;
    padding: 12px 10px 12px 68px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    opacity: 1;
    -webkit-appearance: none
}

.wrapper-form .form-item input[disabled='disabled'] {
    background: #f8f8f8
}

.wrapper-form .form-item:first-child {
    margin-top: 0
}

.btn-1-1,
.btn-2-1,
.btn-3-1 {
    display: inline-block;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.btn-1-1 .tag,
.btn-1-1 .btn,
.btn-2-1 .tag,
.btn-2-1 .btn,
.btn-3-1 .tag,
.btn-3-1 .btn {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.btn-1-1 {
    width: 100%;
    padding-left: 0
}

.btn-1-1 .tag,
.btn-1-1 .btn {
    width: 50% !important
}

.btn-2-1 {
    width: 49.5%
}

.btn-3-1 {
    width: 33.3%
}

.action-container {
    padding: 0 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0
}

.action-container>div {
    margin-bottom: 0
}

.action-container>div:last-child {
    margin-bottom: 0
}

.action-container>button,
.action-container>.btn {
    margin-bottom: 10px
}

.action-container>button:last-child,
.action-container>.btn:last-child {
    margin-bottom: 0
}

.popout-box .header {
    position: relative;
    margin-bottom: 10px;
    -webkit-border-image: url("../img/border-line-2.png") 2 stretch;
    -moz-border-image: url("../img/border-line-2.png") 2 stretch;
    border-image: url("../img/border-line-2.png") 2 stretch;
    border-bottom: 2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .popout-box .header {
        border-bottom-width: 1px
    }
}

.popout-box .header h2 {
    margin-bottom: 16px;
    line-height: 16px;
    font-size: 16px
}

.popout-box .action-container {
    margin: 10px 0 0 0;
    padding: 0
}

.popout-box .action-container .btn.btn-block {
    font-size: 14px
}

.popout-login .wrapper-form {
    padding-top: 10px
}

.popout-login .wrapper-form .verify-image {
    position: absolute;
    right: 0px;
    top: 7px;
    width: 80px;
    height: 30px
}

.popout-login .wrapper-form .btn-auth-code {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    padding: 15px 4px;
    border-radius: 5px
}

.popout-login .wrapper-form .txt-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0
}

.popout-login .wrapper-form .txt-cover-half {
    right: 90px
}

.popout-login .wrapper-form .error {
    margin-top: 10px;
    word-break: break-word
}

.popout-login .bottom-tips {
    padding-top: 16px;
    font-size: 0
}

.popout-login .bottom-tips .inline-item {
    padding: 0 10px;
    border-right: 1px solid #e5e5e5;
    font-size: 12px
}

.popout-login .bottom-tips .inline-item:last-child {
    padding-right: 0px;
    border-right: 0px none
}

.block.block-order .header {
    height: 37px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    padding-left: 10px;
    line-height: 37px
}

.block.block-order .header span {
    font-size: 12px
}

.block.block-order .header a.disable {
    color: #999
}

.block.block-order .bottom {
    padding: 10px;
    padding-left: 10px;
    height: 16px;
    font-size: 14px;
    line-height: 16px
}

.block.block-order:last-of-type {
    margin-bottom: 0
}

.line-block::before {
    content: '';
    display: block;
    margin: 10px
}

.line-block .lineblock-title {
    display: block;
    text-align: center;
    margin-top: -17px;
    margin-bottom: 17px;
    line-height: 14px
}

.line-block .lineblock-font {
    display: inline-block;
    padding: 0px 10px;
    background-color: #fff;
    color: #22C415
}

.line-block.line-block-red::before {
    border-top: 1px solid #F33
}

.line-block.line-block-red .lineblock-font {
    color: #F33
}

.line-block.line-block-green::before {
    border-top: 1px solid #22C415
}

.line-block.line-block-green .lineblock-font {
    color: #22C415
}

.line-block.line-block-gray::before {
    border-top: 1px solid #eee
}

.line-block.line-block-gray .lineblock-font {
    color: #999;
    background-color: #f8f8f8
}

body.has-bottom-nav {
    padding-bottom: 51px
}

.mj-bottom-nav {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    -webkit-border-image: url("../img/border-line-2.png") 2 stretch;
    -moz-border-image: url("../img/border-line-2.png") 2 stretch;
    border-image: url("../img/border-line-2.png") 2 stretch;
    border-top: 2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .mj-bottom-nav {
        border-top-width: 1px
    }
}

.mj-bottom-nav ul {
    position: relative;
    height: 100%;
    zoom: 1
}

.mj-bottom-nav ul:after {
    content: '';
    display: table;
    clear: both
}

.mj-bottom-nav li {
    display: block;
    float: left;
    width: 25%;
    height: 100%
}

.mj-bottom-nav a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 8px;
    text-align: center;
    font-size: 10px
}

.mj-bottom-nav [class^="icon-"] {
    display: block;
    width: 22px;
    height: 22px;
    margin: auto;
    margin-bottom: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto
}

.mj-bottom-nav .icon-category {
    background-image: url("../img/search.png")
}

.mj-bottom-nav .icon-cart {
    background-image: url("../img/buy-car.png")
}

.mj-bottom-nav .icon-user {
    background-image: url("../img/user.png")
}

.mj-bottom-nav .active a {
    color: #ff6366
}

.mj-bottom-nav .active .icon-category {
    background-image: url("../img/search_active.png")
}

.mj-bottom-nav .active .icon-cart {
    background-image: url("../img/buy-car-active.png")
}

.mj-bottom-nav .active .icon-user {
    background-image: url("../img/user_active.png")
}

.tabber.tabber-double-11 {
    margin-bottom: 10px
}

.tips {
    border-top: 1px solid #f9ecb5;
    border-bottom: 1px solid #f9ecb5;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    color: #f09000;
    background-color: #fdf8e4
}

.show-more {
    padding: 10px;
    text-align: center
}

hr.cart {
    margin: 30px 20px 0 20px
}

.block-item.block-item-cart-shop {
    padding: 5px 0
}

.block-item.block-item-cart-shop .btn-go-pay {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 12px;
    padding: 2px 6px
}

#cart-container .edit-list {
    padding: 0 10px;
    margin-right: -10px
}

#cart-container .block-cart {
    margin: 0;
    border: none
}

#cart-container .shop-list {
    background-color: #fff
}

.conflict-pop-box h3 {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px
}

.conflict-pop-box p {
    margin: 15px 0 20px;
    line-height: 1.5
}

.block.login-tip {
    padding: 0 10px;
    line-height: 38px;
    border-top: 0;
    margin-top: -1px
}

.block.login-tip .close-btn {
    float: left;
    width: 15px;
    height: 36px;
    margin-right: 6px;
    cursor: pointer;
    background-image: url("/v2/image/wap/trade/cart/delete-cart@2x.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center
}

.block.login-tip .login-btn {
    color: #f60;
    border-color: #f60;
    padding: 3px 5px;
    margin-top: 6px;
    float: right
}

.close-pop-box {
    padding-bottom: 10px
}

.close-pop-box h3 {
    padding: 0 0 15px;
    border-bottom: 1px solid #e5e5e5
}

.close-pop-box p {
    line-height: 30px;
    padding: 11px 0 0
}

.close-pop-box .btn {
    padding-top: 10px;
    padding-bottom: 10px
}

.mj-display {
    padding-bottom: 51px
}

.mj-display.body-fixed-bottom {
    padding-bottom: 126px
}

.mj-display .bottom-fix {
    bottom: 51px
}

body.body-fixed-bottom {
    padding-bottom: 85px;
    background-color: #f8f8f8
}

.bale-cart-title {
    line-height: 16px;
    padding: 10px 10px 10px 40px;
    font-size: 14px
}

.bale-cart-title .bale-cart-link {
    display: block
}

.bale-cart-title .name {
    float: left;
    height: 22px;
    line-height: 22px;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.bale-cart-title .status {
    float: right;
    height: 16px;
    font-size: 12px;
    margin: 3px 0;
    padding-right: 15px;
    color: #999
}

.bale-cart-title .tag {
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    border: 0;
    background: #f44;
    color: #fff;
    padding: 0 5px;
    margin-right: 5px
}

.bale-cart-title .bale-info {
    vertical-align: middle
}

.bale-cart-title .bale-tips {
    float: right;
    height: 22px;
    line-height: 22px;
    width: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.bale-cart-title .tip-content {
    vertical-align: middle;
    color: #999;
    font-size: 12px
}

.go-package-list::after {
    content: '';
    width: 6px;
    height: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
    background: url("../img/right-chevron.png") no-repeat;
    background-size: 6px 12px
}

@media (min-width: 360px) {
    .bale-cart-title .name {
        max-width: 250px
    }
}

@media (min-width: 375px) {
    .bale-cart-title .name {
        max-width: 265px
    }
}

@media (min-width: 414px) {
    .bale-cart-title .name {
        max-width: 290px
    }
}

.go-pay-shop-list .go-pay-title {
    padding: 17px 0;
    font-size: 16px;
    text-align: center
}

.go-pay-shop-list .shop {
    -webkit-border-image: url("../img/border-line-2.png") 2 stretch;
    -moz-border-image: url("../img/border-line-2.png") 2 stretch;
    border-image: url("../img/border-line-2.png") 2 stretch;
    border-top: 2px solid #e5e5e5;
    padding: 15px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .go-pay-shop-list .shop {
        border-top-width: 1px
    }
}

.go-pay-shop-list .name {
    font-size: 14px
}

.go-pay-shop-list .info {
    float: left
}

.go-pay-shop-list .price {
    margin-top: 5px;
    font-size: 12px
}

.go-pay-shop-list .go-pay-btn {
    border: 1px #f60 solid;
    color: #f60;
    font-size: 14px;
    float: right;
    width: 83px;
    height: 34px;
    line-height: 34px;
    text-align: center
}

.go-shop-tip {
    background-color: #FFF7CC;
    width: 100%;
    line-height: 35px;
    height: 35px;
    text-align: center
}

.bottom-cart .btn-orange-dark {
    border-color: #FF4444;
    background-color: #FF4444
}

.bottom-fix .bottom-cart .total-price {
    margin-left: 80px
}

.bottom-fix .bottom-cart .select-all {
    width: auto;
    height: auto;
    max-width: 80px
}
a:hover {
    text-decoration: none;
}