<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <title> </title>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/LArea.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/address.css">
</head>

<body>
    <div class="container" id='app'>
        <div class="content no-sidebar">
            <div class="content-body address-edit">
                <div class="address_edit_box">
                    <div class="input-block receive_name">
                        <input type="text" placeholder="收件人" v-model='address_info.receive_name'>
                    </div>
                    <div class="input-block mobile">
                        <input type="text" placeholder="手机号码" v-model='address_info.mobile'>
                    </div>
                    <div class="input-block address-sel">
                        <input type="text" placeholder="省、市、区" v-if="address_id" v-model="address_info.address_str" readonly id="areaSelect">
                        <input type="text" placeholder="省、市、区" v-else readonly id="areaSelect">
                    </div>
                    <div class="input-block address-detail">
                        <input type="text" placeholder="详细街道或门牌号" v-model='address_info.shipping_address'>
                    </div>
                    <div class="set-default">
                        <div class="center" @click='is_default = !is_default'>
                            <i class="check" :class="{'checked': is_default}"></i><span class="center_txt">设为默认地址</span>
                        </div>
                    </div>
                </div>
                <div class="big-btn-1-1"><a href="javascript:void(0)" @click='save' class="js-confirm-it big-btn red-btn">保存</a></div>
            </div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="//cdn.bootcss.com/vue/2.1.3/vue.min.js"></script>
    <script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
    <script src='config/master_config.js'></script>
    <script src='js/common.js'></script>
    <script src='js/LArea.js'></script>
    <script src="js/addressEdit.js"></script>
</body>

</html>
