<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <title> </title>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
    <link href="//cdn.bootcss.com/Swiper/3.4.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/goodsDetail.css">
</head>

<body>
    <div class="container" id='app'>
        <div class="head" v-show='false'>
            <div class="top_info">
                <a href="#" class="mp_info">
                    <img src="/img/mp_head.jpg" alt="店铺头像">
                    <i class="mp_name">的卢生活用品店</i>
                </a>
                <div class="links">
                    <span class="js-search mp-search search-icon"></span>
                    <a class="mp-homepage">我的记录</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-body">
                <div class="js-swp">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for='item in goodsInfo.picture'>
                                <img :src="item.url">
                            </div>
                        </div>
                        <!-- 如果需要分页器 -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="goods_info">
                    <h2 class="title" v-text='goodsInfo.title'></h2>
                    <div class="goods-price">
                        <div class="current-price">
                            <span>￥</span><i class="js-goods-price price" v-text='goods.selected_current_price' v-if='goods.selected_current_price'></i><i class="js-goods-price price" v-text='goods.current_price_range' v-else></i>
                        </div>
                        <div class="original-price">
                            原价:￥<span v-text='goods.selected_original_price' v-if='goods.selected_original_price'></span><span v-text='goods.original_price_range' v-else></span>
                        </div>
                    </div>
                    <div class="sub_title" v-text='goodsInfo.sub_title'></div>
                </div>
                <div class="sku-detail adv-opts" v-if='goods.style_name_list.length>0'>
                    <div class="sku-detail-inner adv-opts-inner">
                        <dl class="sku-group select-sku js-select-sku" @click='showSkuDetail(1)'>
                            <dt><span class="js-sku-label">选择</span>：</dt>
                            <dd class="js-sku-value">
                                <template v-if='goods.selected_original_price'>
                                    <span class="sku-item" v-for='item in goods.style_name_list' v-text='item'></span>
                                </template>
                                <template v-else>
                                    <template v-for='item in goodsInfo.style_type_list'>
                                        <span class="sku-item" v-text='item.name' v-if='item.select_id==""'></span>
                                    </template>
                                </template>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部菜单 -->
        <div class="js-bottom-opts js-footer-auto-ele bottom-fix">
            <div class="responsive-wrapper">
                <div class="mini-btn-2-1">
                    <!-- <a href="javascript:;" class="js-im-icon new-btn service"><span class="desc">客服</span></a> -->
                    <a id="global-cart" class="new-btn buy-cart" href='./cart.html'>
                        <span class="desc">购物车</span>
                    </a>
                </div>
                <div class="big-btn-2-1">
                    <a href="javascript:;" class="js-add-cart big-btn orange-btn" @click='showSkuDetail(2)'>加入购物车</a>
                    <a href="javascript:;" class="js-buy-it big-btn red-btn" @click='showSkuDetail(3)'>立即购买</a>
                </div>
            </div>
        </div>
        <div class="weui-mask" id="iosMask" v-show='showSku' @click='hideSkuDetail'></div>
        <div class="sku-box sku-layout popup" :class='{"sku-box-show sku-box-shadow": showSku}'>
            <div class="sku-layout-title name-card sku-name-card">
                <div class="thumb"><img class="js-goods-thumb goods-thumb" :src="smallImg" alt=""></div>
                <div class="detail goods-base-info clearfix">
                    <p class="title c-black ellipsis" v-text='goodsInfo.title'></p>
                    <div class="goods-price clearfix">
                        <div class="current-price pull-left c-black">
                            <span class="price-name pull-left font-size-14 c-orange">￥</span>
                            <i class="js-goods-price price font-size-16 vertical-middle c-orange" v-text='goods.selected_current_price' v-if='goods.selected_current_price'></i>
                            <i class="js-goods-price price font-size-16 vertical-middle c-orange" v-text='goods.current_price_range' v-else></i>
                        </div>
                    </div>
                </div>
                <div class="js-cancel sku-cancel" @click='hideSkuDetail'>
                    <i class="weui-icon-cancel"></i>
                </div>
            </div>
            <div class="adv-opts layout-content" style="max-height: 455px;">
                <div class="goods-models js-sku-views block block-list border-top-0">
                    <dl class="clearfix block-item sku-list-container" v-for='item in goodsInfo.style_type_list'>
                        <dt class="model-title sku-sel-title">
                            <label v-text='item.name+"："'></label>
                        </dt>
                        <dd>
                            <ul class="model-list sku-sel-list">
                                <li class="tag sku-tag pull-left ellipsis" :class="{'active': item.select_id == elem.id, 'unavailable': !elem.hasQuantity}" v-for='elem in item.style_list' @click='selectSku(elem, item)'>
                                    <span v-text='elem.name'></span>
                                    <input type="radio" name='item.id' :value="elem.id" v-model='item.select_id' v-show='false'>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="clearfix block-item">
                        <dt class="sku-num pull-left">
                            <label>购买数量：</label>
                        </dt>
                        <dd class="sku-quantity-contaienr">
                            <dl class="clearfix">
                                <div class="quantity">
                                    <button class="minus" :class="{'disabled': goods.buy_quantity==1}" type="button" :disabled="goods.buy_quantity==1"></button>
                                    <input type="text" class="txt" v-model='goods.buy_quantity' readonly>
                                    <button class="plus" :class="{'disabled': goods.hasMaxQuantity}" :disabled="goods.hasMaxQuantity" type="button"></button>
                                    <div class="response-area response-area-minus" @click='minusBuyQuantity'></div>
                                    <div class="response-area response-area-plus" @click='plusBuyQuantity'></div>
                                </div>
                            </dl>
                        </dd>
                        <dt class="other-info">
                            <div class="skus">剩余{{goods.item_quantity}}件
                            </div>
                        </dt>
                    </dl>
                    <div class="block-item block-item-messages" style="display: none;">
                    </div>
                </div>
                <div class="confirm-action content-foot clearfix">
                    <div class="big-btn-2-1" v-if='select_type == 1'>
                        <a href="javascript:;" class="js-mutiBtn-confirm cart big-btn orange-btn" @click='addBuyCar'>加入购物车</a>
                        <a href="javascript:;" class="js-mutiBtn-confirm confirm big-btn red-btn" @click='buyItNow'>立即购买</a>
                    </div>
                    <div class="big-btn-1-1" v-if='select_type == 2'>
                        <a href="javascript:;" class="js-confirm-it big-btn red-btn" @click='addBuyCar'>加入购物车</a>
                    </div>
                    <div class="big-btn-1-1" v-if='select_type == 3'>
                        <a href="javascript:;" class="js-confirm-it big-btn red-btn" @click='buyItNow'>下一步</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="//cdn.bootcss.com/vue/2.1.3/vue.min.js"></script>
    <script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
    <script src="//cdn.bootcss.com/Swiper/3.4.0/js/swiper.jquery.min.js"></script>  
    <script src='config/master_config.js'></script>
    <script src='js/common.js'></script>
    <script src="js/goodsDetail.js"></script>
</body>

</html>
