.swiper-container {
    width: 100%;
    /*height: 260px;*/
}
@media (min-width: 760px){
    .content-body {
        width: 540px;
        padding: 10px;
        border: 1px solid #ddd;
        margin: 0 auto;
    }
}
.swiper-pagination-bullet{
    width: 6px;
    height: 6px;
}
.swiper-slide{
    height: 200px;
    text-align: center;
}
.swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.head{
    height: 35px;
    width: 100%;
}
.top_info{
    position: relative;
    background: #1e1d22;
    color: #999;
    font-size: 0;
    line-height: 0;
    padding: 1px 160px 1px 1px;
}
.top_info .mp_info{
    display: block;
    padding: 4px 0 4px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top_info .links{
    position: absolute;
    top: 6px;
    right: 10px;
    display: inline-block;
}
.top_info .mp-search {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 27px;
}

.top_info .mp-search::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    background: url('../img/search.png') no-repeat;
    background-size: 12px 12px;
}

.top_info .links .mp-homepage {
    margin-left: 0;
}
.top_info .links a {
    margin-right: 8px;
}
.top_info a {
    color: #999;
}

.top_info .mp_info, .top_info .links{
    font-size: 14px;
    line-height: 24px;
    color: #999;
}
.top_info .mp_info img{
    vertical-align: middle;
    margin-right: 3px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}
.top_info .mp_info i{
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-style: normal;
}

.content-body .goods_info{
    display: block;
    height: auto;
    padding: 10px 0 0;
    -webkit-tap-highlight-color: transparent;
    border-top: 1px solid #f2f2f2;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
}
.goods_info .title{
    font-weight: normal;
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.goods-price {
    padding: 10px 10px 2px;
    text-align: left;
}
.current-price {
    color: #f60;
    display: inline-block;
    font-size: 14px;
}
.current-price>span {
    display: inline-block;
    vertical-align: middle;
}
.current-price .price {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}
.goods-price i {
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    vertical-align: baseline;
}
.original-price {
    text-decoration: line-through;
    vertical-align: middle;
    color: #999;
    font-size: 12px;
    margin: 5px 0 10px;
    display: block;
}

.sku-detail {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.sku-detail .sku-detail-inner {
    padding-left: 10px;
}
.sku-detail .sku-group {
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
}

.sku-detail dl {
    padding-top: 10px;
    padding-bottom: 10px;
    zoom: 1;
}
.sku-detail dt {
    float: left;
    color: #333;
}
.sku-detail dd {
    margin-left: 42px;
    display: block;
    word-wrap: break-word;
}
.sku-detail .sku-group .sku-item {
    margin-right: 10px;
}
.sku-detail .sku-group.select-sku:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
    width: 6px;
    height: 12px;
    background: url('../img/right-chevron.png') no-repeat;
    background-size: 6px 12px;
}

/*底部菜单*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all{
    .bottom-fix {
        border-top-width: 1px;
    }
    .sku-layout .block-item {
        border-top-width: 1px;
    }
    .sku-layout-title {
        border-bottom-width: 1px;
    }
}
@media (min-width: 800px){
    .admin .bottom-fix {
        display: none;
    }
}
.bottom-fix {
    display: block;
    z-index: 100;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 6px 7px;
    border-top: 2px solid #e5e5e5;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
}

.bottom-fix {
    border-top: 0;
    bottom: -1px;
    padding: 0;
}
@media screen and (max-width: 321px){
    .mini-btn-2-1 {
        float: left;
        width: 120px;
    }    
}
@media screen and (min-width: 413px){
    .mini-btn-2-1 {
        float: left;
        width: 160px;
    }
}
.big-mini-btn-1-1, .big-mini-btn-2-1, .mini-btn-1-1, .mini-btn-2-1, .mini-btn-3-1 {
    font-size: 0;
    padding: 0;
}
@media screen and (max-width: 321px){
    .mini-btn-2-1 .new-btn {
        width: 60px;
    }    
}
@media screen and (min-width: 413px){
    .mini-btn-2-1 .new-btn {
        width: 80px;    
    }
}
.buy-cart, .gift, .promotion, .service {
    background-repeat: no-repeat;
    background-position: 50% 5px;
    background-size: 24px;
}
.big-btn, .new-btn {
    height: 50px;
    float: left;
}
.new-btn, .new-btn .desc {
    font-size: 10px;
    text-align: center;
}
.new-btn {
    line-height: 50px;
    background-color: #fff;
}
.service {
    background-image: url('../img/kefu.png');
    position: relative;
}
.new-btn .desc {
    position: absolute;
    line-height: normal;
    left: 0;
    bottom: 7px;
    width: 100%;
    color: #666;
}
.buy-cart {
    background-image: url('../img/buy-car.png');
    position: relative;
}
.buy-cart, .gift, .promotion, .service {
    background-repeat: no-repeat;
    background-position: 50% 5px;
    background-size: 24px;
}

.big-btn-1-1 {
    overflow: hidden;
    text-align: center;
}
.big-btn-1-1 .big-btn {
    width: 100%;
}
.big-btn-2-1 {
    overflow: hidden;
    text-align: center;
}
.big-btn-2-1 .big-btn {
    width: 50%;
}
.big-btn {
    line-height: 50px;
    font-size: 16px;
    padding: 0;
    border: none;
    vertical-align: top;
}
.orange-btn {
    background: #f85;
    color: #fff;
    position: relative;
}
.red-btn {
    background: #f44;
    color: #fff;
    position: relative;
}

.sku-box{
    position: fixed;
    width: 100%;
    z-index: 5000;
    left: 0;
    bottom: 0;
    backface-visibility: hidden;
    background-color: #fff;
    transform: translate(0, 100%);
    transition: transform .3s, 
    -webkit-transform .3s;
}
.sku-box-show{
    transform: translate(0, 0);
}
.sku-box-shadow {
    -webkit-box-shadow: 0 -1px 14px rgba(0,0,0,.9);
    box-shadow: 0 -1px 14px rgba(0,0,0,.9);
}

.block, .block-item, .sku-layout .block-item, .sku-layout-title, .sku-message dl {
    border-image: url(../img/border-line-2.png) 2 stretch;
}
.name-card, .name-card .thumb {
    position: relative;
    overflow: hidden;
}
.name-card {
    margin-left: 0;
    width: auto;
    padding: 5px 0;
}
.sku-layout-title {
    -webkit-border-image: url(../img/border-line-2.png) 2 stretch;
    -moz-border-image: url(../img/border-line-2.png) 2 stretch;
    border-bottom: 2px solid #e5e5e5;
    border-top-width: 0;
    position: static;
    padding: 10px 0;
    margin-left: 10px;
}
.name-card, .name-card .thumb {
    position: relative;
    overflow: hidden;
}
.name-card .thumb {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}
.sku-layout-title .thumb {
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 2px;
}
.name-card .thumb img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.name-card .detail {
    margin-left: 68px;
    width: auto;
    position: relative;
}
.sku-layout-title .goods-base-info {
    margin-left: 60px;
}
.sku-layout-title .goods-base-info .title {
    padding-right: 52px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 22px;
}
.name-card .detail p {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    margin: 0 0 2px;
    color: #ccc;
}
.goods-price {
    padding: 10px 10px 2px;
    text-align: left;
}
.sku-layout-title .goods-base-info .goods-price {
    padding: 0 55px 0 0;
}
.sku-layout-title .goods-base-info .current-price {
    line-height: 20px;
}
.sku-layout-title .goods-base-info .current-price .price-name {
    padding-top: 1px;
}
.quantity, .quantity .txt, .quantity button, .sku-layout .vertical-middle {
    vertical-align: middle;
}
.sku-layout .sku-cancel {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}
.sku-layout .layout-content {
    border: none!important;
    overflow-y: scroll;
    line-height: 20px;
    background-color: #fff;
}
.block.top-0, .block:first-child {
    margin-top: 0;
}
.block.border-0, .block.border-top-0 {
    border-top: 0;
}
.block, .quantity, .quantity .minus {
    position: relative;
}
.block, .block p, .block-item {
    overflow: hidden;
}
.block {
    -webkit-border-image: url(../img/border-line-2.png) 2 stretch;
    -moz-border-image: url(../img/border-line-2.png) 2 stretch;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    margin: 10px 0;
    background-color: #fff;
    font-size: 14px;
}
.block.block-list {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sku-layout .block-item {
    border: 0;
    -webkit-border-image: url(../img/border-line-2.png) 2 stretch;
    -moz-border-image: url(../img/border-line-2.png) 2 stretch;
    border-top: 2px solid #e5e5e5;
}
.sku-layout .goods-models .sku-list-container {
    padding: 10px 0 0;
    border: 0;
}
.sku-layout .sku-sel-title {
    margin-bottom: 10px;
    font-size: 13px;
}
.sku-layout .sku-sel-list {
    zoom: 1;
    padding-left: 0;
    margin-bottom: 0;
}
.block-item ul {
    padding-right: 50px;
}
.quantity, .tag {
    display: inline-block;
}
.quantity .txt, .quantity button, .tag {
    margin: 0;
    text-align: center;
}
.tag {
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #999;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
}
.sku-layout .sku-tag {
    position: relative;
    margin-right: 10px;
    min-width: 32px;
    max-width: 180px;
    line-height: 16px;
    padding: 5px 9px;
    margin-bottom: 10px;
    color: #333;
    border-color: #999;
}
.sku-layout .sku-tag.active {
    color: #fff;
    background-color: #f60;
    border-color: #f60;
}
.sku-layout .sku-tag.unavailable {
    border-color: #e5e5e5;
    color: #cacaca;
    background-color: #eee;
    cursor: not-allowed;
}
.block-list>.block-item {
    padding: 10px 10px 10px 0;
}
.sku-layout .sku-num {
    line-height: 29px;
}
.sku-layout .quantity {
    float: right;
}
.quantity {
    font-size: 0;
}
.quantity button {
    border: 2px solid #eee;
    font-size: 16px;
    line-height: 10px;
    font-weight: 700;
    color: #666;
    padding: 5px;
    outline: 0!important;
    width: 26px;
    height: 30px;
    text-indent: -9999px;
    overflow: hidden;
}
.sku-layout .quantity .minus, .sku-layout .quantity .plus {
    width: 37px;
    height: 29px;
    background-color: #fff;
    border: 1px solid #999;
}
.sku-layout .quantity .minus {
    border-radius: 2px 0 0 2px;
}
.sku-layout .quantity .plus {
    position: relative;
    border-radius: 0 2px 2px 0;
}
.sku-layout .quantity .minus.disabled {
    background-color: #f8f8f8;
    border-color: #e8e8e8 #999 #e8e8e8 #e8e8e8;
}
.sku-layout .quantity .minus.disabled::before {
    background-color: #bbb;
}
.sku-layout .quantity .minus::before, .sku-layout .quantity .plus::before {
    height: 1px;
    width: 9px;
    background-color: #666;
}
.quantity .plus::before {
    position: absolute;
}
.sku-layout .quantity .plus.disabled {
    background-color: #f8f8f8;
    border-color: #e8e8e8 #e8e8e8 #e8e8e8 #999;
}
.sku-layout .quantity .plus.disabled::after, .sku-layout .quantity .plus.disabled::before {
    background-color: #bbb;
}
.quantity .minus.disabled::before, .quantity .plus.disabled::after, .quantity .plus.disabled::before {
    background-color: #ddd;
}
.quantity .minus::before, .quantity .plus::before {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #6c6c6c;
    bottom: 0;
    content: '';
}
.quantity .txt {
    font-size: 14px;
    width: 24px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0;
}
.sku-layout .quantity .txt {
    width: 33px;
    height: 25px;
    padding: 1px;
    border: 1px solid #999;
    border-width: 1px 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #666;
}
.sku-layout .quantity .minus::after, .sku-layout .quantity .plus::after {
    width: 1px;
    height: 9px;
    background-color: #666;
}
.quantity .plus::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 2px;
    height: 8px;
    background-color: #6c6c6c;
}
.quantity .response-area-minus {
    left: -5px;
}
.quantity .response-area {
    width: 42px;
    height: 42px;
    top: -7px;
    position: absolute;
}
.quantity .response-area-plus {
    right: -5px;
}
.quantity .response-area {
    width: 42px;
    height: 42px;
    top: -7px;
    position: absolute;
}
.sku-layout .other-info {
    line-height: 14px;
}
.sku-layout .stock {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}
.sku-layout .content-foot {
    padding: 0!important;
    width: 100%!important;
}
.sku-layout .content-foot {
    font-size: 0;
}

.orange-btn::after, .red-btn::after {
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    pointer-events: none;
}
.red-btn::after {
    box-sizing: border-box;
    transform: scale(.5);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    border-top: 1px solid #E53D3D;
}
.orange-btn::after {
    box-sizing: border-box;
    transform: scale(.5);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    border-top: 1px solid #E57A4C;
}