<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title> </title>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
    <link href="//cdn.bootcss.com/Swiper/3.4.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/shopList.css">
</head>

<body>
    <div class="container" id='app'>
        <div class="head">
            <div class="top_info">
                <a href="#" class="mp_info">
                    <img src="./img/mp_head.jpg" alt="店铺头像">
                    <i class="mp_name">的卢生活用品店</i>
                </a>
                <div class="links">
                    <span class="js-search mp-search search-icon"></span>
                    <a class="mp-homepage">我的记录</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-body">
                <div class="js-swp">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for='item in goodsInfo.picture'>
                                <img :src="item.url" height="200">
                            </div>
                        </div>
                        <!-- 如果需要分页器 -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="goods_info">
                    <h2 class="title" v-text='goodsInfo.sub_title'></h2>
                    <div class="goods-price ">
                        <div class="current-price">
                            <span>￥</span>
                            <i class="js-goods-price price" v-text='goods.selected_current_price' v-if='goods.hasSelectSku'></i>
                            <i class="js-goods-price price" v-text='goods.current_price_range' v-else></i>
                        </div>
                        <div class="original-price">
                            <span v-text='goods.selected_original_price' v-if='goods.hasSelectSku'></span>
                            <span v-text='goods.original_price_range' v-else></span>
                        </div>
                    </div>
                </div>
                <div class="sku-detail adv-opts">
                    <div class="sku-detail-inner adv-opts-inner">
                        <dl class="sku-group select-sku js-select-sku" @click='showSkuDetail'>
                            <dt><span class="js-sku-label">选择</span>：</dt>
                            <dd class="js-sku-value">
                                <span class="sku-item" v-for='item in goodsInfo.style_type' v-text='item.text'></span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部菜单 -->
        <div class="js-bottom-opts js-footer-auto-ele bottom-fix">
            <div class="responsive-wrapper">
                <div class="mini-btn-2-1">
                    <a href="javascript:;" class="js-im-icon new-btn service"><span class="desc">客服</span></a>
                    <a id="global-cart" class="new-btn buy-cart">
                        <span class="desc">购物车</span>
                    </a>
                </div>
                <div class="big-btn-2-1">
                    <a href="javascript:;" class="js-add-cart big-btn orange-btn">加入购物车</a>
                    <a href="javascript:;" class="js-buy-it big-btn red-btn">立即购买</a>
                </div>
            </div>
        </div>
        <div class="weui-mask" id="iosMask" v-show='showSku' @click='hideSkuDetail'></div>
        <div class="sku-box sku-layout popup" :class='{"sku-box-show sku-box-shadow": showSku}'>
            <div class="sku-layout-title name-card sku-name-card">
                <div class="thumb"><img class="js-goods-thumb goods-thumb" :src="smallImg" alt=""></div>
                <div class="detail goods-base-info clearfix">
                    <p class="title c-black ellipsis" v-text='goodsInfo.title'></p>
                    <div class="goods-price clearfix">
                        <div class="current-price pull-left c-black">
                            <span class="price-name pull-left font-size-14 c-orange">￥</span>
                            <i class="js-goods-price price font-size-16 vertical-middle c-orange">10.00 - 30.00</i>
                        </div>
                    </div>
                </div>
                <div class="js-cancel sku-cancel" @click='hideSkuDetail'>
                    <i class="weui-icon-cancel"></i>
                </div>
            </div>
            <div class="adv-opts layout-content" style="max-height: 455px;">
                <div class="goods-models js-sku-views block block-list border-top-0">
                    <dl class="clearfix block-item sku-list-container" v-for='item in goodsInfo.style_type'>
                        <dt class="model-title sku-sel-title">
                            <label v-text='item.text+"："'></label>
                        </dt>
                        <dd>
                            <ul class="model-list sku-sel-list">
                                <li class="tag sku-tag pull-left ellipsis" :class="{'active': item.select_id == elem.id, 'unavailable': !elem.hasQuantity}" v-for='elem in item.value' @click='selectSku(elem, item)'>
                                    <span v-text='elem.text'></span>
                                    <input type="radio" name='item.id' :value="elem.id" v-model='item.select_id' v-show='false'>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="clearfix block-item">
                        <dt class="sku-num pull-left">
                            <label>购买数量：</label>
                        </dt>
                        <dd class="sku-quantity-contaienr">
                            <dl class="clearfix">
                                <div class="quantity">
                                    <button class="minus disabled" type="button" disabled="true"></button>
                                    <input type="text" class="txt" value="1">
                                    <button class="plus" type="button"></button>
                                    <div class="response-area response-area-minus"></div>
                                    <div class="response-area response-area-plus"></div>
                                </div>
                            </dl>
                        </dd>
                        <dt class="other-info">
                            <div class="skus" style="display: none;">剩余120件
                            </div>
                        </dt>
                    </dl>
                    <div class="block-item block-item-messages" style="display: none;">
                    </div>
                </div>
                <div class="confirm-action content-foot clearfix">
                    <div class="big-btn-2-1">
                        <a href="javascript:;" class="js-mutiBtn-confirm cart big-btn orange-btn">加入购物车</a>
                        <a href="javascript:;" class="js-mutiBtn-confirm confirm big-btn red-btn">立即购买</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <!-- <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <script src="//cdn.bootcss.com/vue/2.1.3/vue.min.js"></script>
    <script src="//cdn.bootcss.com/Swiper/3.4.0/js/swiper.jquery.min.js"></script>
    <script src="./js/common.js"></script>
    <script>
    var vm = new Vue({
        el: "#app",
        mounted: function() {
            this.getGoodsInfo();
            $(".container").css('min-height', $(window).height());
            $(".layout-content").css('max-height', $(window).height()*.85);
        },
        data: {
            goodsInfo: {},
            showSku: false,
            goods: {
                hasSelectSku: false,
                original_price_range: '', //虚假价格范围
                current_price_range: '', //真实价格范围
                selected_original_price: '', //选中的sku的虚假价格
                selected_current_price: '', //选中的sku的真实价格
            },
            smallImg: '',
            skuList: [], //每次选择之后的sku列表
            searchTerms: {}, //搜索条件
        },
        methods: {
            getGoodsInfo() {
                var _self = this;
                $.ajax({
                    url: './1.txt',
                    success: function(data) {
                        var data = JSON.parse(data);
                        if (data.code == 0) {
                            $.each(data.data.style_type,function(index, elem){
                                elem.select_id = '';
                                elem.value.forEach(function(item){
                                    if (data.data.style_type.length==1) {
                                        data.data.skus.forEach(function(item2){
                                            if (item2.id_names[elem.id_name] == item.id && item2.quantity == 0) {
                                                item.hasQuantity = false;
                                            }else{
                                                item.hasQuantity = true;
                                            }
                                        })
                                    }else{
                                        item.hasQuantity = true;
                                    }
                                })
                            })
                            _self.goodsInfo = data.data;

                            var priceList = _self.goodsInfo.skus;

                            priceList.sort(function(a, b) {
                                return a.price - b.price
                            })

                            _self.goods.current_price_range = priceList[0].price == priceList[priceList.length - 1].price ? priceList[0].price : (priceList[0].price + ' - ' + priceList[priceList.length - 1].price);

                            _self.goods.original_price_range = priceList[0].price_dot == priceList[priceList.length - 1].price_dot ? priceList[0].price_dot : priceList[0].price_dot + ' - ' + priceList[priceList.length - 1].price_dot;

                            $("title").html(_self.goodsInfo.title);

                            _self.$nextTick(function() {
                                var mySwiper = new Swiper('.swiper-container', {
                                    // direction: 'vertical',
                                    loop: true,

                                    // 如果需要分页器
                                    pagination: '.swiper-pagination',

                                    slidesPerView: 'auto',
                                    centeredSlides: true,
                                    paginationClickable: true,
                                    // spaceBetween: 30,

                                    breakpoints: {
                                        //当宽度小于等于320
                                        320: {
                                            slidesPerView: 1,
                                            spaceBetweenSlides: 10
                                        }
                                    },

                                    autoplay: 2000, //可选选项，自动滑动

                                    autoplayDisableOnInteraction: false, //手动滑动后继续自动滑动
                                })
                            })

                        }
                    }
                })

            },
            showSkuDetail() {
                this.showSku = true;
                this.smallImg = this.goodsInfo.picture[0].url;
            },
            hideSkuDetail() {
                this.showSku = false;
            },
            selectSku (elem, item){
                var _self = this;

                if (!elem.hasQuantity) {
                    return false;
                }

                if (elem.url) {
                    this.smallImg = elem.url;         
                }

                if (item.select_id == elem.id) {
                    item.select_id = '';
                    delete _self.searchTerms[item.id_name];
                }else{
                    item.select_id = elem.id;
                    _self.searchTerms[item.id_name] = elem.id;
                }

                _self.skuList = getSelectItem( _self.searchTerms, _self.goodsInfo.skus);

                var length = _self.goodsInfo.style_type.length;

                if (length==1) { //一种规格项目

                }else if (length==2) { //两种规格项目

                }else{ //三种规格项目
                    if (getJsonLength(_self.searchTerms) == 2) {
                        checkThree(_self.searchTerms);
                    }else if (getJsonLength(_self.searchTerms) < 2){
                        relaxStyleType(_self.goodsInfo.style_type);
                    }else{
                        var temp_obj = deepClone(_self.searchTerms);
                        delete temp_obj[item.id_name];
                        var temp_arr = objChangeArr(temp_obj, true);
                        var obj1 = temp_arr[0];
                        obj1[item.id_name] = elem.id;
                        var obj2 = temp_arr[1];
                        obj2[item.id_name] = elem.id;
                        checkThree(obj1);
                        checkThree(obj2);
                    }
                }

                // _self.goodsInfo.skus.forEach(function(elem2){
                //     if (elem2.quantity == 0 && elem2['id_names'][item.id_name] == elem.id) {

                //         var id_list = deepClone(elem2.id_names);
                //         delete id_list[item.id_name];

                //         $.each(id_list,function(key, value){
                //             _self.goodsInfo.style_type.forEach(function(item1){
                //                 if (item1.id_name == key) {
                //                     item1.value.forEach(function(item2){
                //                         if (item.select_id == '') {
                //                             item2.hasQuantity = true;
                //                         }else{
                //                             if (item2.id == value) {
                //                                 item2.hasQuantity = false;
                //                             }else{
                //                                 item2.hasQuantity = true;
                //                             }                                            
                //                         }
                //                     })
                //                 }
                //             })
                //         })

                //     }
                // })

                // var hasSelectAll = false, id_names = {};
                // this.goodsInfo.style_type.forEach(function(elem2){
                //     if (elem2.select_id == '') {
                //         hasSelectAll = false;
                //         return false;
                //     }
                //     id_names[elem2.id_name] = elem2.select_id;
                //     hasSelectAll = true;
                // })
                // if (hasSelectAll) {
                //     var is_same = false;
                //     _self.goodsInfo.skus.forEach(function(elem3){
                //         $.each(elem3.id_names,function(index, elem4){
                //             if (elem4 != id_names[index]) {
                //                 is_same = false;
                //                 return false;
                //             }
                //             is_same = true;
                //         })
                //         if (is_same) {
                //             _self.selected_original_price = elem3.price;
                //             _self.selected_current_price = elem3.price_dot;
                //         }
                //     })
                // }

            }
        }
    })

    function checkThree (searchTerms) {
        var skuList = getSelectItem( searchTerms, vm.goodsInfo.skus);
        var leftStyleType = getLeftStyleType(vm.goodsInfo.style_type, searchTerms);
        relaxStyleType(leftStyleType);
        checkQuantity(leftStyleType, skuList);
    }

    function relaxStyleType (styleTypeList) {
        styleTypeList.forEach(function(elem){
            elem.value.forEach(function(elem2){
                elem2.hasQuantity = true;
            })
        })
    }

    function getLeftStyleType (styleTypeList, params) {
        var new_arr = [];
        styleTypeList.forEach(function(elem){
            if (params[elem.id_name] == undefined) {
                new_arr.push(elem);
            }
        })
        return new_arr
    }

    function checkQuantity (styleTypeList, skuList) {
        styleTypeList.forEach(function(elem){
            elem.value.forEach(function(elem2){
                skuList.forEach(function(elem3){
                    if (elem3.id_names[elem.id_name] == elem2.id && elem3.quantity == 0) {
                        elem2.hasQuantity = false;
                    }
                })                
            })
        })
    }

    function getSelectItem(params, arr) {
        var new_arr = [] , loop_arr = arr;
        $.each(params, function(key, value){
            new_arr = [];
            loop_arr.forEach(function(item){
                if (item['id_names'][key] == value) {
                    new_arr.push(item)
                }                                
            })
            loop_arr = new_arr;
        })
        return loop_arr
    }
    
    </script>
</body>

</html>
